{{#each this}}

<h2>
    <p class="name">{{name}}</p>
</h2>
<div class="content">
    <div class="info">
        <p class="capital"><b>Capital: </b>{{capital}}</p>
        <p class="population"><b>Population: </b>{{population}}</p>
        <p class="languages"><b>Languages:</b></p>
        <ul class="list">
            {{#each languages}}
            <li class="language">{{this.name}}</li>
            {{/each}}
        </ul>
    </div>
    <div class="image">
        <img src="{{flag}}" alt="flag" width="320">
    </div>
</div>
{{/each}}