{{#each this}}

<h2>
    <p class="name">{{name}}</p>
</h2>
<p class="capital">Capital: {{capital}}</p>
<p class="population">Population: {{population}}</p>
<ul class="languages">Languages:
    {{#each languages}}
    <li class="language">{{this.name}}</li>
    {{/each}}
</ul>
<img src="{{flag}}" alt="flag" width="320">

{{/each}}